* {
    font-family: 'Montserrat', sans-serif;
}

.button {
    width: 10%;
    border-radius: 5%;
    border: 1px solid #0C29D0;
    background-color: #ffffff;
    transition: 0.5s;
}

.button:hover {
    background-color: #0C29D0;
}

input.form {
    padding: 5px 0;
    font-size: 0.9em;
    border: none;
    border-bottom: 1.5px solid rgb(186, 186, 186);
    border-radius: 5%;
    color: rgb(62, 62, 62);
}

input.form:before {
    border: 5px solid black;
}

input.bigger-size {
    width: 20%;
}

input.smaller-size {
    width: 15%;
}

input.button {
    padding: 15px 0px;
    width: 10%;
    border-radius: 5%;
    transition: 0.5s;
    color: #0C29D0;
}

input.button:hover {
    color: #ffffff;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

li {
    color: #0A134A;
}

a {
    text-decoration: none;
}

a.link-button {
    color: #0C29D0;
    transition: 1s;
}

a.link-button:hover {
    color: #ffffff;
}

a.link-button p {
    text-align: center;
    margin: 0px;
    padding: 15px 0;
}

a.link {
    color: #000000;
}

a.link:hover {
    color: #0C29D0;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table th.col-main {
    font-weight: 500;
    font-size:1.3rem;
}

td {
    font-weight: 300;
}

td, th {
    border: 1px solid #F5F5FB;
    text-align:center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #F5F5FB;
}

hr {
    margin-bottom: 4%;
}