{% extends 'index.html' %}
{% block body %}
<div>
    <div class='button'>
        <a href='/create-product/{{ category_identifier }}' class="link-button">
            <p>Criar novo</p>
        </a>
    </div>
    <br />
    {% for element in list %}
        {% if element[8] == category_identifier %}
            <ul>
                <li>
                    <a href="product/{{ element[0] }}" class="link">{{ element[0] }}</a>
                </li>
            </ul>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}